<div class="outbox-message 
  {{#if image}}
    outbox-message_image
  {{/if}}
">
  {{#if content}}
    {{content}}
  {{/if}}
  {{#if image}}
    <img class="outbox-message__image" src={{image}} alt={{alt}}>
  {{/if}}

</div>
