@import "../../sass/consts.scss";

.inbox-message {
  max-width: 400px;
  margin-bottom: 10px;
  padding: 11px;

  text-align: left;

  font-size: 12px;
  color: $chat-message-font-color;

  line-height: 15px;;
  
  border-radius: 0 10px 10px 10px;
  background-color: $inbox-message-background-color;
}

.inbox-message__image {
  max-width: 388;
  height: auto;
}

.inbox-message_image {
  background-color: $main-background-color;
}
